<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vlckitSwiftSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D00B0E21BFD569700D8BB3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D00B0F61BFD569700D8BB3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D00B1011BFD569700D8BB3E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
